<button part="button" type="button">
  <span part="labelvalue">
    <span part="label"></span>
    <span part="value"></span>
  </span>
  <span part="marker">
    <slot name="marker">⏷</slot>
  </span>
</button>
<div part="listbox">
  <slot></slot>
</div>

<style>
  :host {
    position: relative;
  }

  [part="labelvalue"] {
    min-width: 10rem;
    max-width: 9rem;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  [part="listbox"] {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 10rem;
    border: 1px solid black;
    background: white;
    overflow-y: auto;
    z-index: 1;
  }

  [part="listbox"][open] {
    display: block;
  }

  [disabled] {
    color: grey;
  }
</style>
